{% extends "layout.html" %}

{% macro status_class(status) -%}
  {% if status == 'complete' %}
    label-success
  {% elif status in ['failed', 'canceled', 'rejected'] %}
    label-danger
  {% else %}
    label-warning
  {% endif %}
{%- endmacro %}

{% block body %}
  <ul class='translations-list list-unstyled'>
    {% for translation in translations %}
      <li>
        <div class="title">
          <a href='{{ translation['story'].link }}'>
            {{ translation['story'].title }}
          </a>
        </div>
        <div class="details">
          <span class="label {{ status_class(translation['status']) }}">
            {{ translation['status'] }}
          </span>
          <span class="small">
            <strong>English</strong> to <strong>{{ translation['target_language'] }}</strong>
          </span>
          <span class="small">
            {{ translation['uid'] }}
          </span>
          <span class="small">
            {{ translation['time'] }}
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
