{% extends "layout.html" %}
{% block body %}

  <ol class='translation-template hidden'>
    <li>
      <small class"language"></small>
      <span class="translation"></span>
    </li>
  </ol>

  <ol id="top-stories" class="posts">
    {% for story in stories %}
      <li>
        <a href="{{ story.link }}" />
          <div>
            <strong class="story-title">{{ story.title }}</strong>
          </div>

          <div class="row">
            <ul class="list-unstyled translations">
              {% for lang in translation_languages %}
                <li>
                  <small class"language">{{ lang if lang in story.translations else '' }}</small>
                  <span class="translation">{{ story.translations.get(lang, '') }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </a>
      </li>
    {% endfor %}
  </ol>
  <script src='{{ url_for('static', filename='scripts.js') }}'></script>
{% endblock %}
