.footer {
  color: #999;
  text-align: center;
}

/* @media (min-width: 1200px) */
.container {
  max-width: 700px;
}

.list-unstyled small {
  font-size: 0.8em;
  width: 1rem;
  display: inline-block;
}
