.footer {
  color: #999;
  font-size: 0.8em;
  text-align: right;
  margin: 2em 0 2em 0;
  font-family: monospace;
}

/* @media (min-width: 1200px) */
.container {
  max-width: 700px;
}

.posts > li {
  margin-bottom: 1.2rem;
}

.dashboard-link {
  float: right;
  font-size: 1.5rem;
}

.list-unstyled small {
  font-size: 0.8em;
  width: 1rem;
  display: inline-block;
}

.translations-list .details {
  color: #999;
}

.translations-list .title {
  margin-bottom: -6px;
  font-size: 2rem;
}

.details span {
  margin-right: 1rem;
}


.translations-list li {
  margin-bottom: 1rem;
}

.more {
  text-align: right;
}
.more a{
  color: #999;
  margin-left: 1em;
}
